blosc2==2.3.1
certifi==2023.7.22
charset-normalizer==3.3.2
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
Farama-Notifications==0.0.4
fonttools==4.44.0
greenlet==3.0.1
grpcio==1.59.0
grpcio-tools==1.59.0
gymnasium==0.29.1
h5py==3.10.0
idna==3.4
kiwisolver==1.4.5
matplotlib==3.8.1
msgpack==1.0.7
ndindex==1.7
networkx==3.2.1
numexpr==2.8.7
numpy==1.26.1
packaging==23.2
pandas==2.1.2
pettingzoo==1.24.1
Pillow==10.1.0
protobuf==4.24.4
PuLP==2.7.0
py-cpuinfo==9.0.0
pydot==1.4.2
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytoulbar2==0.0.0.4
pytz==2023.3.post1
PyYAML==6.0.1
QtPy==2.4.1
requests==2.31.0
setuptools==68.2.2
six==1.16.0
snakeviz==2.2.0
SQLAlchemy==2.0.23
tables==3.9.1
tornado==6.3.3
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
ViTables==3.0.3
websocket-server==0.6.4
